#page-teacher-form {
  width: 100vw;
  height: 100vh;
}

#page-teacher-form main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-teacher-form {
    max-width: 100%;
  }

  #page-teacher-form main {
    padding: 32px 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
